.impressum {
    max-width: 80%;
    padding: 10%;
    padding-top: 0%;
}

h2 {
    margin-bottom: 0px;
    margin-top: 25px;
}

h3 {
    margin-top: 35px;
    margin-bottom: 5px;
}

p {
    margin-top: 5px;
}

/*this code is necessary because the imprint adds another button to the navbar which makes it wider and the original media query only 
works when the screen is 600px wide. But with the extra button the navbar aready needs to be changed when the screen is 800px*/ 

/* this code changes how the Navbar looks before opened when the screen is smaller than 800px*/
/* When the screen is less than 800 pixels wide, it hides all links. Show the link that should open and close the topnav (.icon) */
@media screen and (max-width: 800px) {
    .header a {
        display: none;
    }

    .header a.icon {
        display: flex;
        margin-left: auto;
    }

    .header a.logo {
        float: left;
        display: block;
    }
}

/* this code opens the navbar when the screen is smaller than 800px is*/
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 800px) {
    .header.responsive {
        position: relative;
        display: block;
    }

    .header.responsive a.icon {
        display: none;
        align-items: center;
        margin-left: auto;
    }

    .header.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}