@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);
/*styles the canvas thats used to display the particel*/
.canvas {
    background: #002530;
    height: 60vh;
    position: absolute;
    width: 100vw;
    overflow: hidden;
    z-index: -1;
}

canvas {
    position: absolute;
    top: 0;
}

* {
    font-family: Open Sans
}

/*styles the footer itself*/
.footer-distributed {
    box-sizing: border-box;
    width: 100vw;
    font: bold 16px sans-serif;
    padding: 7.563vh 3.255vw;
    bottom: auto;

}

/*puts the links and the icons in front of the canvas so the particels are behind them*/
.footer-icons,
.footer-links {
    z-index: 1;
    position: relative
}

/*changes the color of the links in the footer when hovered on*/
.footer-distributed .footer-links a:hover {
    color: #fc3565;
    text-decoration: none;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

/*centers the three blocks in the footer*/
.footer-distributed .footer-center,
.footer-distributed .footer-left,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top
}

/*styles the left footer block*/
.footer-distributed .footer-left {
    width: 40%
}

/*styles the h3 headline in the footer*/
.footer-distributed h3 {
    color: #fff;
    font: normal 36px 'Open Sans', cursive;
    margin: 0
}

.footer-distributed h3 span {
    color: #fc3565
}

/*styles the left footer box*/
.footer-distributed .footer-links {
    color: #fff;
    margin: 20px 0 12px;
    padding: 0
}

.footer-distributed .footer-links a {
    line-height: 1.8;
    font-weight: 400;
    text-decoration: none;
    color: inherit
}

/*styles the company name and the copyright*/
.footer-distributed .footer-company-name {
    color: #92999f;
    font-size: 14px;
    font-weight: 400;
    margin: 0
}

/*styles the center footer blox*/
.footer-distributed .footer-center {
    width: 35%
}

/*styles the container inside the center box*/
.footer-center-container {
    display: flex
}

.footer-center-container p {
    z-index: 1;
    align-self: center
}

/*styles the icons inside the center box*/
.footer-distributed .footer-center i {
    color: #fff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px;
    margin-right: 0;
    vertical-align: middle
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px
}

/*styles the paragraphs inside the center box*/
.footer-distributed .footer-center p {
    color: #fff;
    font-weight: 400;
    vertical-align: middle;
    margin: 0
}

.footer-distributed .footer-center p span {
    font-weight: 400;
    font-size: 14px;
    line-height: 2
}

.footer-distributed .footer-center p a {
    color: #fc3565;
    text-decoration: none
}

/*styles the links of the nav inside the left footer box*/
.footer-distributed .footer-links a:before {
    content: "|";
    font-weight: 300;
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px
}

.footer-distributed .footer-links .link-1:before {
    content: none
}

/*styles the right footer box*/
.footer-distributed .footer-right {
    width: 20%
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: 400;
    margin: 0
}

.footer-distributed .footer-company-about span {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 20px
}

/*styles the icons in the right footer box*/
.footer-distributed .footer-icons {
    margin-top: 25px
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px
}

.footer-distributed .footer-icons a:hover {
    color: #fc3565;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s
}

/*mobile verion of the footer*/
@media (max-width:768px) {
    .footer-distributed {
        font: bold 14px sans-serif
    }

    .footer-distributed .footer-center,
    .footer-distributed .footer-left,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i {
        margin-left: 0
    }

    .canvas {
        background: #002530;
        height: 100vh;
        position: absolute;
        width: 100vw;
        overflow: hidden;
        z-index: -1
    }

    .footer-center-container {
        display: block
    }

    .footer-center-container p {
        position: relative;
        z-index: 1
    }

    .footer-distributed .footer-company-about {
        padding: 10px;
    }
}